@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=STIX+Two+Text:wght@500;700&display=swap');

/*
	Este es un selector de tag
*/
* {
	margin: 0;
	padding: 0;
}
a {
	color: teal;
}

body {
	font-family: 'STIX Two Text', serif;
	/* El rem es el tamaño de tipografía definido en el body y en el html; en este caso es de 20px  */
	font-size: 20px;
}
html {
	font-family: 'STIX Two Text', serif;
	/* El rem es el tamaño de tipografía definido en el body y en el html; en este caso es de 20px  */
	font-size: 20px;
}

/*li {
	font-size: 2rem;
}*/

/*
	Este es un selector de id
*/

#descripcion {
	display: none;
}

#principal {
	/*
	font-size: 3.052em;
	font-size: 3.052rem;
	font-size: 3.052vh; Viewport Height
	font-size: 3.052vw; Viewport width
	*/
	font-family: 'Palette Mosaic', cursive;
	font-size: clamp( 2rem, 4.5vw, 3.052rem );
}


.btn--secondary {
	background: #17A6F6;
	border-radius: 0.4rem;
	border: 1px solid #04669D;
	box-shadow: 0px 4px 0px #04669D;
	color: #F3F3F4;
	display: block;
	font-size: 0.8rem;
	padding: 0.6rem;
	text-decoration: none;
	transition: 0.3s all ease;
	
}

/*
:hover es para asignar estilos al poner el mouse arriba
*/

.btn--secondary:hover {
	background: #F3F3F4;
	border: 1px solid #17A6F6;
	box-shadow: 0px 1px 0px #04669D;
	color: #04669D;
	/*
	rotate(-180deg)
	scale( 1.08 )
	*/
	transform: translate( 0, 3px );
}


/*
	El atributo Flexbox se usa en los contenedores
*/

.encabezado {
	align-items: center;
	display: flex;
	justify-content: space-between;
	/*
	Margin auto a la derecha y a la izquierda asigna espacios iguales automáticamente y con eso centramos el elemento.
	*/
	margin: 0 auto;
	max-width: 1128px;
	padding: 1.2rem 0px;
	/*width: 1128px;*/
	/* En width y max-width px % rem em vw vh  */
	width: calc( 100vw - 2rem );
}
.encabezado__logo {
	/*order: 4;*/
}
.encabezado__menu {
	display: flex;
	gap: 0.5rem;
}

.encabezado__menu li {
	list-style: none;
}




@media ( max-width: 600px ) {
	body {
		font-size: 12px;
	}
	html {
		font-size: 12px;
	}
	.encabezado__menu {
		flex-direction: column;
	}
}






